{% extends "employee/base.html" %}
{% block content %}


<body>
    <div>
        <div class="text-center">
            <h1 class="p-5">{{ object.last_name }}, {{ object.first_name}}</h1>
        </div>
       
    </div>
    <div>
        <table class="table">
            <tr>
                <td>Address</th>                
                <td>{{ object.address }}</th>
            </tr>
            <tr>
                <td>Contact</th>                
                <td>{{ object.cell_number }}</th>
            </tr>
            <tr>
                <td>Company</th>                
                <td>{{ object.dispatch_company}}</th>
            </tr>
            <tr>
                <td>Position</th>                
                <td>{{ object.position}}</th>
            </tr>
            <tr>
                <td>Date Started</th>                
                <td>{{ object.date_started}}</th>
            </tr>
        </tbody>
        </table>
    </div>   
    <div>
        <div class="p-0.5"><button type="submit"><a href="{% url 'EmployeeUpdate' object.pk %}"> Update</a></button></div><br>
        <div class="p-0.5"><button type="submit"><a href="{% url 'EmployeeList' %}"> List</a></button></div>
    </div>
</body>
</html>

{% endblock content %}